
#bodyLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     height: 100vh;   /* set the height to center the form */

     background-image: url('https://images.unsplash.com/photo-1682905926517-6be3768e29f0?auto=format&fit=crop&q=80&w=2574&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
color: #fff;
} 

#formContainer input{
    text-align: center;
    height:25px;
    margin: 15px;
    border:1px solid #6dc6f9;
    padding: 17px;
    background-color: #efebef;
   
}
#formContainer button {
    font-weight: bold;
    border-radius: 10px;
    color: #fff;
    height: 39px;
    width: 50%;
    background-color: #6dc6f9;
    text-transform: uppercase;
    margin-bottom:55px;
}
#formContainer{
border: 2px solid #efebef;

padding: 120px;
background-color: rgba(0.2, 0.2, 0.2, 0.2);
}
#formContainer>h1{
    font-size: 3.5em;
    color: #6dc6f9;
}
#bodyLogin p {
    font-size: 18px;
}
#linkSignUp{
    color: #6dc6f9;
    cursor: pointer;
    text-decoration: none;
}
#linkSignUp:hover{
text-decoration: underline;
}